
#content{
	height: 87%;
}
#topbar {
	margin-top: 2%;
	margin-bottom: 5%;

}

#footer {
 clear: both; 
 z-index: 10;
 height: 8em;	 
 background-color:teal;
 margin-top: 5%;
}
p{
	color:white;
	text-align:left;
}

.description, p{
	font-size: 16px;
}

.button-submit{
	border-radius:5px; width:100%; height:40px; line-height:10px;
}


.form-label{
	color:white;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;	
}

input{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;	
	border: 1px dashed orange;
}

.title{
	margin:-15px;
	color:white;
	font-size:40px;
	text-align:center;
}

body{
	background-color:#08121c;
}

.help-logo{
	height:20%;
}

.hidden{
	visibility:hidden;
}

.btn-submit{
	border-radius:5px;
}